<section class="col-md-8">
    <ts-alert *ngIf="state.displayMessage" [type]="state.error ? 'danger' : 'success'" [message]="state.message"></ts-alert>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate [class.highlight-errors]="state.highlightErrors">
        <div class="form-group row">
            <div class="col-sm-6">
                <input type="text" class="form-control" id="identification" formControlName="identification" placeholder="Identificacion" (keydown.enter)="focus(form.controls.patientAlreadyRegistered.value ? 'certificateName' : 'name', $event)">
            </div>
            <div class="col-sm-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" formControlName="patientAlreadyRegistered"> Los datos de este paciente ya fueron registrados anteriormente
                    </label>
                </div>
            </div>
            <div [hidden]="form.controls.patientAlreadyRegistered.value">
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nombre completo" (keydown.enter)="focus('birthdate', $event)">
                </div>
                <div class="col-sm-6">
                    <input type="date" class="form-control" id="birthdate" formControlName="birthdate" placeholder="Fecha de nacimiento" (keydown.enter)="focus('gender', $event)">
                </div>
                <div class="col-sm-6">
                    <select class="form-control" id="gender" formControlName="gender" (keydown.enter)="focus('eps', $event)">
                        <option selected value="">Selecciona sexo</option>
                        <option value="f">Mujer</option>
                        <option value="m">Hombre</option>
                    </select>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="eps" formControlName="eps" placeholder="EPS" (keydown.enter)="focus('address', $event)">
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="address" formControlName="address" placeholder="Dirección" (keydown.enter)="focus('email', $event)">
                </div>
                <div class="col-sm-6">
                    <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email" (keydown.enter)="focus('phone', $event)">
                </div>
                <div class="col-sm-6">
                    <input type="phone" class="form-control" id="phone" formControlName="phone" placeholder="Teléfono" (keydown.enter)="focus('customer', $event)">
                </div>
                <div class="col-sm-6">
                    <select class="form-control" id="customer" formControlName="customer" (keydown.enter)="focus('certificateName', $event)">
                        <option selected value="">Selecciona el empleador del paciente</option>
                        <option *ngFor="let customer of customerOptions" [value]="customer.id">{{customer.label}}</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12">
                <input type="text" class="form-control" id="certificateName" formControlName="certificateName" placeholder="Descripción del certificado" (keydown.enter)="$event.preventDefault()">
            </div>
            <div class="col-sm-12">
                <div class="file-form-control row">
                    <div class="col-sm-2">
                        <label for="exampleInputFile">Certificado</label>
                    </div>
                    <div class="col-sm-6">
                        <!--<input type="file" class="form-control" id="certificateFile" formControlName="certificateFile">-->
                        <input type="file" class="form-control" id="certificateFile">
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons-row">
            <button type="submit" class="btn btn-default btn-main">Guardar</button>
            <a class="btn btn-default" routerLink="/dashboard">Cancelar</a>
        </div>
    </form>
</section>