<div class="panel panel-default panel-login">
    <ts-loading [display]="loading"></ts-loading>
    <ts-header
        title="Bienvenido"
        subtitle="Inicia sesión para ver los certificados"
    ></ts-header>
    <div class="panel-body">
        <ts-alert
            *ngIf="errorMessage"
            type="warning"
            [message]="errorMessage"
        ></ts-alert>
        <ts-login-form (onMakingRequest)="loading = $event" (onResult)="manageResult($event)"></ts-login-form>
    </div>
    <ts-login-footer></ts-login-footer>
</div>
