<div class="panel panel-default panel-login">
    <div class="panel-heading panel-heading-custom">
        <h3 class="panel-heading-title">Bienvenido</h3>
        <h4 class="panel-heading-subtitle">Inicia sesión para ver los certificados</h4>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <input type="text" class="form-control" id="username" placeholder="Usuario">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password" placeholder="Contraseña">
            </div>
            <div class="buttons-row">
                <button type="submit" class="btn btn-default btn-main btn-login">Acceder</button>
                <a class="btn btn-default btn-forgot-password" href="http://trinisaludips.com/contactenos/" target="_blank">¿Olvidaste tu contraseña?</a>
            </div>
        </form>
    </div>
    <div class="panel-footer panel-footer">
        <span>¿Es tu primera vez?</span>
        <a href="http://trinisaludips.com/contactenos/" target="_blank">Solicita aquí una cuenta</a>
    </div>
</div>
