<div class="panel panel-default">
    <ts-navigation></ts-navigation>
    <ts-header
        title="Todo ha salido bien!"
    ></ts-header>
    <div class="panel-body">
        <div class="row">
            <section class="col-md-12">
                <ts-alert
                    type="success"
                    message="La informacion fue guardada correctamente"
                ></ts-alert>
                <p>Utiliza el menu superior para continuar navegando</p>
            </section>
        </div>
    </div>
    <ts-footer></ts-footer>
</div>
