<div class="panel panel-default">
    <ts-loading [display]="loading"></ts-loading>
    <ts-navigation></ts-navigation>
    <ts-header
        title="Registra un nuevo cliente"
        subtitle="Ingresa los datos del nuevo cliente"
    ></ts-header>
    <div class="panel-body">
        <div class="row">
            <ts-create-customer-form (onMakingRequest)="loading = $event"></ts-create-customer-form>
            <ts-create-customer-note></ts-create-customer-note>
        </div>
    </div>
    <ts-footer></ts-footer>
</div>
