<div class="panel panel-default">
    <ts-navigation></ts-navigation>
    <ts-header
        title="Certificado de un paciente"
        subtitle="Ingresa los datos del paciente y su certificado"
    ></ts-header>
    <div class="panel-body">
        <div class="row">
            <ts-loading [display]="loading"></ts-loading>
            <ts-upload-certificate-form (onMakingRequest)="loading = $event"></ts-upload-certificate-form>
            <ts-upload-certificate-note></ts-upload-certificate-note>
        </div>
    </div>
    <ts-footer></ts-footer>
</div>