<form>
    <div class="form-group">
        <input type="text" class="form-control" id="username" placeholder="Usuario">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Contraseña">
    </div>
    <div class="buttons-row">
        <button type="submit" class="btn btn-default btn-main btn-login">Acceder</button>
        <a class="btn btn-default btn-forgot-password" href="http://trinisaludips.com/contactenos/" target="_blank">¿Olvidaste tu contraseña?</a>
    </div>
</form>