<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group">
        <input type="text" class="form-control" formControlName="username" id="username" placeholder="Usuario" (keydown.enter)="focusPassword($event)">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" formControlName="password" id="password" placeholder="Contraseña">
    </div>
    <div class="buttons-row">
        <button type="submit" class="btn btn-default btn-main btn-login">Acceder</button>
        <a class="btn btn-default btn-forgot-password" href="http://trinisaludips.com/contactenos/" target="_blank">¿Olvidaste tu contraseña?</a>
    </div>
</form>