<div class="panel panel-default">
    <ts-navigation></ts-navigation>
    <ts-header
        title="Bienvenido a la aplicación de certificados de TriniSalud IPS"
    ></ts-header>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-8">
                <p>
                    Utiliza las opciones del menu superior para acceder al formulario de creación de cuentas para clientes, 
                    al formulario de carga de certificados y a la búsqueda de certificados.
                </p>
            </div>
        </div>
    </div>
    <ts-footer></ts-footer>
</div>